@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}



.score {
    background: #0a0001;
    font-size: 90px;   
    width: 275px;
    height:160px;
    margin: 30px 0;
    border-radius: 5px;  
    justify-content: center;
}

.scoreText {
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    margin: 16;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    height:45px;
    width:45px;
    color: #8A99C6;
    border: 1;
    border-radius: 5px;
    border-color: #8A99C6;
    border-style: solid;
    cursor:pointer;
    overflow: hidden; 
    font-size: 16px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    text-align: center;
}




